# Kroissant - Environnement de développement
APP_ENV=development
APP_URL=http://localhost:3000
DATABASE_URL=
JWT_SECRET=

# mailtrap 
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASSWORD=
FROM_EMAIL=noreply@kroissant.fr
APP_URL=http://localhost:3000

# google auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=