@import "tailwindcss";
@plugin "daisyui" {
  themes: kidvids --default;
}

@plugin "daisyui/theme" {
  name: "kidvids";
  default: true;

  --color-primary: #89502e;
  --color-primary-content: #ffffff;
  --color-secondary: #30628a;
  --color-secondary-content: #ffffff;
  --color-accent: #ffb38a;
  --color-accent-content: #794323;
  --color-neutral: #52443c;
  --color-neutral-content: #fff8f3;
  --color-base-100: #fff8f3;
  --color-base-200: #f4ede7;
  --color-base-300: #eee7e2;
  --color-base-content: #1e1b18;

  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
}

@theme {
  --font-sans: var(--font-quicksand), sans-serif;

  /* Couleurs utilitaires custom (Material You) */
  --color-surface: #fff8f3;
  --color-surface-dim: #dfd9d4;
  --color-surface-container: #f4ede7;
  --color-surface-container-high: #eee7e2;
  --color-on-surface: #1e1b18;
  --color-on-surface-variant: #52443c;
  --color-on-primary: #ffffff;
  --color-primary-container: #ffb38a;
  --color-on-primary-container: #794323;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #a1d1fe;
  --color-on-secondary-container: #265a81;

  /* Border radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}